@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake;
}

html,
body,
#__next {
    height: 100vh;
    min-height: 100vh;
}
